name: Auto-merge dependency updates

on:
  pull_request:
    types: [labeled, unlabeled, synchronize, opened, edited]
  workflow_dispatch:

jobs:
  auto-merge:
    if: github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'auto-merge')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Auto-merge PR
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --squash --auto
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
